
body{ 
background:transparent;
 font-family: 'Permanent Marker', cursive;
  color: #000;  
}
.background_div{
  background-image:url('http://i349.photobucket.com/albums/q369/garciaaa_xo/wallpaper.jpg');
}



h1{
  background:none;
      -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image:url('http://tse3.mm.bing.net/th?id=OIP.Mc8a2ee195596d31bf6dd471a119ea5bfo0&w=166&h=164&c=7&rs=1&qlt=90&o=4&pid=1.1');
  font-size: 45px;
  text-shadow: none;
}
span{
  background:none;
}
button{
  border:none;
  background: dodgerblue;
  border: 2px groove brown;
  font-size:40px;
 
}
.time_label{
  background:none;
  font-size:25px;
  }
#break_num{
  background:none;
  font-size:25px;
  
}
#session_num{
  background:none;
  font-size:25px
}
.time_clock{
  background-image:url(http://static.blingify.com/covers/plaid/plaid_11-Blingify_com.png);
  margin-left:auto;
  margin-right:auto;
  height:400px;
  width:400px;
  border:3px solid green;
  border-radius: 50%;
  text-shadow: none;
  
}
.row{
  background:transparent;
  display:inline;
  font-size:20px; 
 
}

button{
  border-radius:100%

}
.button_container{
  padding:2px;
  width: 22%;
  background:url('http://tse1.mm.bing.net/th?id=JN.NQmbQwEPAjzlwQ5lcdrPbA&w=93&h=107&c=7&rs=1&qlt=90&pid=3.1&rm=2');
  color: yellow;
  font-size:35px;
}
#timer_type{
  background:transparent;
    margin-top:10%;
  font-size:35px;
  font-weight:600;
      -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
    background-image:url('http://tse3.mm.bing.net/th?id=OIP.Mc8a2ee195596d31bf6dd471a119ea5bfo0&w=166&h=164&c=7&rs=1&qlt=90&o=4&pid=1.1');
}
#time_clock{

  background:transparent;
      margin-top:10%;
  font-size:100px;
  font-weight:600;
    -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
    background-image:url('http://tse3.mm.bing.net/th?id=OIP.Mc8a2ee195596d31bf6dd471a119ea5bfo0&w=166&h=164&c=7&rs=1&qlt=90&o=4&pid=1.1');
  text-shadow:none;
}
